<!DOCTYPE html>
<html>
  <head>
    <title><% include partials/logo %></title>
    <%- include partials/header %>
    <link rel='stylesheet' href='/styles/main.css' />
    <link rel='stylesheet' href='/styles/calendar.css' />
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/4.7.95/css/materialdesignicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" rel="stylesheet">
  </head>
  <body>
    <%- include partials/nav %>
    <div class="main">
      <div class="calendar">
        <div class="calendar--title">
          <a class="title--btn" onclick="shiftMonth(-1)">
            <i class="icon mdi mdi-chevron-left"></i>
          </a>
          <span id="calendar-title">June, 2019</span>
          <a class="title--btn" onclick="shiftMonth(-1)">
            <i class="icon mdi mdi-chevron-right"></i>
          </a>
        </div>
        <% for(let i = 0; i < 5; i++) { %>
        <div class="calendar--row">
          <% for(let j = 0; j < 7; j++) { %>
          <div class="calendar--cell" data-i="<%= i %>" data-j="<%= j %>">
            <p class="cell--date"><%= 7 * i + j + 1 %></p>
            <div class="cell--tasks">
              <div class="tasks--task">
                <div class="pretty p-icon p-tada">
                  <input type="checkbox" />
                  <div class="state">
                    <i class="icon mdi mdi-close"></i>
                    <label>Do HW</label>
                  </div>
              </div>
              </div>
            </div>
          </div>
          <% } %>
        </div>
        <% } %>
      </div>
    </div>
    
    <script src="/scripts/calendar.js"></script>
  </body>
</html>
