<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include partials/header %>
    <link rel='stylesheet' href='/styles/class.css' />
    <link rel='stylesheet' href='/styles/main.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous">
    </script>
  </head>
  <body>
    <%- include partials/nav %>
    <div class="main">
      <h1 class="main--welcome"><%= title %></h1>
      <div class="main--header">
        <div class="header--grade">
          <div class="header--title">
            <p id="letterGrade"><p>
            <p id="numberGrade" class="header--subtitle"></p>
          </div>
        </div>
        <div id="chart" style="height: 370px; width: 100%;"></div>
      </div>
      <table class="assignments">
        <thead>
          <th>Name</th>
          <th>Category</th>
          <th>Points Earned</th>
          <th>Points Possible</th>
        </thead>
        <tbody id="tbody">
        </tbody>
        
      </table>
      <script>
      const weights = <%- JSON.stringify(weights) %> || [];
      const weighted = <%= weights !== null %>;
      const assignments = <%- JSON.stringify(assignments) %>;
      
      const recalcWeights = () => {
        const lp = {};

        assignments.forEach(({category, score, total}) => {
          if(!lp[category]) lp[category] = { score: 0, total: 0 };
          
          if(score === null) return;

          lp[category].score += score;
          lp[category].total += total;
        });

        weights.forEach(weight => {
          const data = lp[weight.name];
          if(data) weight.current = data.score / data.total * weight.total;
        });
      }

      const buildAssignments = () => {
        const $root = $("#tbody");

        assignments.forEach(assignment => {
          const { name, category, score, total } = assignment;
          const ungraded = score === null;

          $row = $(`
            <tr>
              <td>${name}</td>
              <td>${category}</td>
              <td>
                <input type="number" value=${score}>
              </td>
              <td>${total}</td>
            </tr>
          `);

          $root.append($row);
          $row.find("input").on("change", function() {
            assignment.score = +$(this).val();
            
            if(weighted) recalcWeights();
            remakeChart();
          });
        });
      }
      $(buildAssignments);

      const sum = (a, b) => a + b
      const calculateTotal = () => {
        if(weights.length === 0) {
          const filtered = assignments.filter(a => a.score !== null);
          return 100 * filtered.map(a => a.score).reduce(sum)
            / filtered.map(a => a.total).reduce(sum);
        }

        const totalScored = weights
          .filter(weight => weight.current !== 0)
          .map(weight => weight.total)
          .reduce(sum)

        return weights
          .map(weight => weight.current)
          .reduce(sum) / totalScored * 100;
      }

      const getPoints = () => {
        const defaults = {
          type: "bar",
          showInLegend: true
        }

        const reals = {
          ...defaults,
          name: "Current Grade",
          color: "#60a69f",
          dataPoints: weights
            .map(weight => ({
              y: weight.current,
              label: weight.name
            }))
            .concat({ y: calculateTotal(), label: "Total" })
        }

        const totals = {
          ...defaults,
          name: "% of Grade",
          color: "#78b6d9",
          dataPoints: weights
            .map(weight => ({
              y: weight.total,
              label: weight.name
            }))
            .concat({ y: 100, label: "Total" })
        }

        return [reals, totals];
      }
      
      const chart = new CanvasJS.Chart("chart", {
        animationEnabled: true,
        axisY: {
          title: "%"
        },
        data: []
      });
      const remakeChart = () => {
        const numberGrade = Math.floor(calculateTotal() * 100) / 100;
        const letterGrade = "FFFFFFDCBA"[Math.floor(numberGrade / 10)];  

        $("#numberGrade").text(`${numberGrade}%`);
        $("#letterGrade").text(letterGrade);

        chart.options.data = getPoints();
        chart.render();
      }
      $(remakeChart);
      </script>
      
    </div>

    </div>
  </body>
</html>
