<!DOCTYPE html>
<html>
  <head>
    <title>Welcome <%= title %></title>
    <%- include partials/header %>
    <link rel='stylesheet' href='/styles/main.css' />
  </head>
  <body>
    <%- include partials/nav %>
    <div class="main">
      <h1 class="main--welcome">Welcome, <%= title %></h1>
      <div class="class-list">
        <% for(const subject of classes) { %>
          <a class="class" href="/class">
            <div class="class--main">
              <div class="class--title">
                <%= subject.name %>
              </div>
              <div class="class--subtitle">
                <%= subject.numberGrade %>
              </div>
            </div>
            <div class="class--side">
              <%= subject.letterGrade %>
            </div>
          </a>
        <% } %>
      </div>
    </div>
  </body>
</html>
